
/*Estilo geral da página*/
*{
	margin: 0;
	padding: 0;
	border: 0;
}
/*Cor de Fundo do HTML*/
body{
	background-color: #5f0707;
}

/*Fonte adicionada ao projeto*/
@font-face{
	font-family: emulogic;
	src: url('emulogic.ttf');
}
/*Procedimento para iniciar a fonte em qualquer situação*/
.hidden{
	font-family: emulogic;
	display: none;
}

canvas{
	margin-left: 25%;
	margin-top: 5%;
}
